@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Boogaloo", cursive;
  height: 3000px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 640.5px) and (max-width: 1007px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1007.5px) {
  .container {
    width: 85%;
  }
}

nav {
  background-color: transparent;
  position: relative;
}

nav .navbar {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.25fr 0.5fr 1fr;
      grid-template-columns: 0.25fr 0.5fr 1fr;
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

nav .navbar .nav-list li {
  text-transform: uppercase;
}

nav .navbar .nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .navbar .nav-options div {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
}

nav .navbar .nav-options .login {
  color: #ff7d6d;
}

nav .navbar .nav-options .sign-up {
  background-color: #ff7d6d;
  border-radius: 1rem;
}

nav .navbar .menu-logo {
  display: none;
}

nav .navbar .menu-collapse {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #000;
  -webkit-transform: translateY(95%);
          transform: translateY(95%);
  list-style-type: none;
  text-align: center;
  border-radius: 0.5rem;
}

nav .navbar .menu-collapse li {
  margin-bottom: 1rem;
}

nav .navbar .menu-collapse li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

nav .navbar .menu-collapse li a:hover {
  color: #ff7d6d;
}

@media (max-width: 640px) {
  .navbar {
    -ms-grid-columns: 0.25fr 1fr;
        grid-template-columns: 0.25fr 1fr;
  }
  .navbar .nav-list {
    display: none !important;
  }
  .navbar .nav-options {
    display: none !important;
  }
  .navbar .menu-logo {
    display: block !important;
    justify-self: flex-end;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    margin-right: 1rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 22px;
  }
  .navbar .menu-logo:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media (min-width: 640.5px) and (max-width: 1007px) {
  .navbar {
    -ms-grid-columns: 0.25fr 1fr;
        grid-template-columns: 0.25fr 1fr;
  }
  .navbar .nav-list {
    display: none !important;
  }
  .navbar .nav-options {
    display: none !important;
  }
  .navbar .menu-logo {
    display: block !important;
    justify-self: flex-end;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    margin-right: 1rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 22px;
  }
  .navbar .menu-logo:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.active-menu {
  display: none;
}
/*# sourceMappingURL=nav.css.map */